@import "variables.scss";
@import "mixins.scss";
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

:root {
	--primary-color: #1d80a8;
	--secondary-color: #7dc5ea;
}

.btn-primary {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	&:hover {
		background-color: var(--primary-color);
		border-color: var(--primary-color);
	}
}

.container {
	width: 100%;
	margin: 0 40px;
}

.wrapper {
	// align-items: center;
	justify-content: center;
	display: flex;
	height: 800px;
	width: 50%;
	flex-wrap: wrap;
	overflow-y: auto;
}

.button-wrapper {
	align-items: center;
	justify-content: space-evenly;
	display: flex;
	width: 50%;
	flex-wrap: wrap;
	margin: 5% auto;
}

.align-right {
	text-align: right;
}

.padding-right {
	padding-right: 40px;
}

.padding-bottom {
	padding-bottom: 30px;
}

.text-wrapper {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 10px;
	margin-top: 30px;
}

.dropdown-wrapper {
	p {
		color: $dips-dark-blue;
	}
}

.person-icon {
	height: 20px;
	width: 20px;
	background-size: 100% 100%;
	background-image: url("../assets/man-icon.svg");
	margin: 20px 5px 0 0;
	display: inline-block;
}

.document-icon {
	height: 40px;
	width: 40px;
	background-size: 100% 100%;
	background-image: url("../assets/document.svg");
	margin: auto;
	margin-top: 10px;
}

.logo {
	margin: 20px;
	height: 35px;
	width: 288px;
}

.blue-info-card {
	@include info-card;
	background-color: $dips-dark-blue;
	float: left;
}

.orange-info-card {
	@include info-card;
	background-color: $dips-dark-orange;
	align-items: center;
}
.width100 {
	width: 100%;
}

@media (max-width: 800px) {
	.wrapper {
		flex-direction: column;
	}
}
