.logo {
	margin: 40px;
	height: 120px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../../public/SyntHIR_logo.PNG"); //put synthir logo file
}

.float-right {
	margin-left: auto;
	order: 2;
}

.mainHeader {
	display: flex;
}

.patient-details {
	position: absolute;
	right: 0;
	top: 20px;
}
