.logo {
	margin: 40px;
	height: 120px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../SyntHIR_logo.PNG"); //put synthir logo file
}

.github-logo {
	margin: 40px;
	height: 60px;
	width: 60px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../github-mark.png");
}

.float-right {
	margin-left: auto;
	order: 2;
}

.mainHeader {
	display: flex;
}
