/* Colors */
$dips-light-turqouise: #e1f9f6;
$dips-light-turqouise-secondary: #e2f9f6;
$dips-primary-blue: #00149e;
$dips-turqouise: #a8f0e9;
$dips-dark-blue: #1d80a8;
$neutral-black: #262626;
$white: #ffff;
$netural-grey: #8f9496;
$dips-dark-orange: #f0664f;

/*Fonts*/
$font-family-base: "Circular", Helvetica, sans-serif;
